node_modules
.next
*.tsbuildinfo
.env
.env.local
.env*.local
*.log
.DS_Store
dist
coverage
.turbo
prisma/dev.db
prisma/dev.db-journal

# Pre-migration backups created by the deploy workflow, live on the VPS only.
backups/
*.dump
